.NavBarHeader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: olive;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.NavBar h1 {
    margin: 0;
    font-size: 1.5rem;
}

.NavItems {
    margin-left: 1.5rem;
    
}

.NavItems ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    align-items: center;
}

.NavItems li {
    margin: 0 1rem;
}

.NavItems a,
.NavItems button {
    text-decoration: none;
    color: black;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: 0.25rem .5rem;
}

.NavItems a:hover,
.NavItems a:active,
.NavItems a.active,
.NavItems button:hover,
.NavItems button:active {
    color: white;
    border-radius: 5px;
    background: black;
}